footer {
    padding: 1em;
    color: white;
    background-color: #E684AE;
    text-align: center;
    position:fixed;
    bottom:0;
    width: 100%;
}

body {
    font-family: "Lato", sans-serif;
    color: black; 
    margin: 0px;
    padding-top: 0 !important;
    height: 100%; 
    overflow: hidden;
}

h1 {
     font-size: 110px;
     text-align: center;
     vertical-align: middle;
     margin: 0px;
     text-decoration: underline;
     text-decoration-color: #E684AE;
     margin-top: 50px;  
}

p{
    font-size: 18px;
    font-family: "Lato", sans-serif;
    margin-top: 0px;
}

img {
    display: block;
    width: 150px;
    height: auto;
    margin:auto;
    margin-top: 200px;
    margin-left:55%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#myCanvas {
    width: 60%;
    float: left;
    border: 1px;
    margin-top: 75px;
}

#pushdown{
    margin-top: 10px;
}

#pushdown1{
    margin-top: 6px;
    margin-left: 20px;
}

#pushdown2{
    margin-top: 450px;
    padding-bottom: 50px;
}

#section {
        position: absolute;
        top: 35%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
}

#centered{
    margin-left: 26%;
}

.grad1 {
    display:inline-block;
    background:blue; /* For browsers that do not support gradients */
    background:-webkit-linear-gradient(#77A1D3, #79CBCA,#E684AE); /* For Safari 5.1 to 6.0 */
    background:-o-linear-gradient(#77A1D3, #79CBCA,#E684AE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#77A1D3, #79CBCA,#E684AE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#77A1D3, #79CBCA,#E684AE); /* Standard syntax (must be last) */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#grad2 {
    height: 610px;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4B79A1, #283E51); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4B79A1, #283E51); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4B79A1, #283E51); /* For Firefox 3.6 to 15 */
    background: transparent; /* Standard syntax (must be last) */
    margin-top: 15%;
}

#grad3 {
    height: 610px;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#4B79A1, #283E51); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4B79A1, #283E51); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4B79A1, #283E51); /* For Firefox 3.6 to 15 */
    background: transparent; /* Standard syntax (must be last) */
}

.p2{
    font-size: 24px;
    font-family: "Lato", sans-serif;
    display: inline-block;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
}

.p3{
    font-size: 20px;
    font-family: "Lato", sans-serif;
    text-align: left;
    margin-right: 50%;
}

.form1{
    text-align: center;
}

.button {
    background-color: white;
    border-style: solid; /*grey*/
    border-color: #E684AE;
    border-width: 2px;
    color: black;
    display: inline-block;
    margin: 0 10px 0 10px;
    padding: 15px 45px;
    /*text-align: center;*/
    text-decoration: none;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    border-radius: 8px;
}

.pg1 {
    margin: auto;
    width: 50%;
    text-align: center;
    /*padding: 10px;
    margin-top: 200px;*/
    margin-right: 50%;
}

.centerr {
    float: left;
    width: 30%;
    margin-left: 125px;
    margin-top: 275px;
}


.inline {
	margin: auto;
	width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #77A1D3;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}