<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='designlayout.css') }}">
		<style>
		        html, body {
		          width:  100%;
		          height: 100%;
		          margin: 0px;
		        }
	    </style>
	    <script>
	        function drawHangman(incorrect_letters_counter)
	        {
	            var w = window.innerWidth;
	            var h = window.innerHeight;
	            var canvas = document.getElementById('myCanvas');
	            if(canvas.getContext)
	            {
	                context = canvas.getContext("2d");
	                with(canvas)
	                {
	                    setAttribute("width", w-6)
	                    setAttribute("height", h-6)
	                }
	                with(context)
	                {
	                    strokeStyle = "black";/**/
	                    lineWidth = "8";

        	    		beginPath();
			   		
			   			moveTo(w/3, h-(h/50)-30);
		            	lineTo(w/2-30, h-(h/50)-30);

		            	moveTo(w/3+40, h-(h/50)-30);
		            	lineTo(w/3+40, h/2-40);

		            	moveTo(w/3+40, h/2-40);
		            	lineTo(w/2,h/2-40);

		            	closePath();

		                stroke(); 

		                beginPath(); 

		                strokeStyle = "black"; /**/
	                    lineWidth = "5";

	                    beginPath();

			   			/*
	                        Draw Head
	                    */
	                    if (incorrect_letters_counter >=1)
	                    {
	                    	arc(w/2, ((h/2)+25), h/15, 0, Math.PI*2, true);
	                	}
	                    /*
	                        Draw Neck
	                    */
	                    if (incorrect_letters_counter >=2)
	                    {
			   				moveTo(w/2, h/2+(h/10));
	                    	lineTo(w/2, h-(h/2.9));
	                	}
			   			/*
	                        Draw Arm1
	                    */
	                    if (incorrect_letters_counter >=3)
	                    {
	                    	moveTo(w/2, (h/2+(h/20) +  h-(h/4))/2);
	                    	lineTo(w/2+h/10, (h/2+(h/20) +  h-(h/4))/2);
	                	}
			    		/*
	                        Draw Arm2
	                    */
	                    if (incorrect_letters_counter >= 4)
	                    {
	                   		moveTo(w/2, (h/2+(h/20) +  h-(h/4))/2);
	                    	lineTo(w/2-h/10, (h/2+(h/20) +  h-(h/4))/2);
	                	}
	                    /*
	                        Draw Chest
	                    */
	                    if (incorrect_letters_counter >= 5)
	                    {
			    			moveTo(w/2, h-(h/2.9));
	                    	lineTo(w/2, h-(h/5));
	                	}
	                    /*
	                        Draw Leg1
	                    */
	                    if (incorrect_letters_counter >= 6)
	                    {
	                    	moveTo(w/2, h-(h/5));
	                    	lineTo(w/2+(h/20), h-(h/50)-30);
	                	}
			    		/*
	                        Draw Leg2
	                    */
	                    if (incorrect_letters_counter >= 7)
	                    {
	                    	moveTo(w/2, h-(h/5));
	                    	lineTo(w/2-(h/20), h-(h/50)-30);
	                    }

	                    closePath();

	                    stroke();
	                }
	            }
	        }
	       /* function drawStand()
	    	{
	    		      
	        }*/
	        window.onresize = function() 
	        {
	            drawHangman(incorrect_letters_counter);
	        }
	    </script> 
	</head>
	<body>
		<div id="grad3">
		<div class="inline">
			<div class="centerr">
				<label id="level">
					<p><pre>{{visual_blank_word}}</pre></p>
					<p>{{error}}</p>
					<p>{{lost}}</p>
				    <!--<p>{{letter_choice}}</p>
				    <p>{{incorrect_letters}}</p>
				    <p>{{incorrect_letters_counter}}</p>
				    <p>{{used_letters}}</p>-->
				</label>
			    <form action="{{ url_for('game') }}" method="POST">
			        <input type="text" name="text" autocomplete="off"><br>
			        <input class=button type="submit" name="my-game" value="Send">
				</form>
			</div>
			<div>
				<canvas id='myCanvas'></canvas>
			</div>
		</div>
		</div>
    	<script id="section">
       		drawHangman({{incorrect_letters_counter}})
   		</script>
	</body>
</html>