<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='designlayout.css') }}">
	</head>
	<body>
		<div class="pg1">
			<img src="{{ url_for('static',filename='hangman.jpg') }}" alt="Hangman">
			<form action="{{ url_for('main') }}" method="POST">
				<label id="level">Choose difficulty level:</label>
				<input class="button" type="submit" name="difficulty" value="Normal">
				<input class="button" type="submit" name="difficulty" value="Hard">
			</form>
			<form action="{{ url_for('setup') }}" method="POST">
				<input class="button" type="submit" name="form1" value="Start Game">
			</form>
		</div>
	</body>
</html>