<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='designlayout.css') }}">
	</head>
	<body>
		<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
		  <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">&times;</button>
		  <a href="#" class="w3-bar-item w3-button">Link 1</a>
		  <a href="#" class="w3-bar-item w3-button">Link 2</a>
		</div>
		<div>
		  <button class="w3-button w3-white w3-large w3-right" onclick="openRightMenu()">&#9776;</button>
		</div>
		<div id="section">
			<p>fjdshjafsdkfjdas;fjsfkda;sjfkasfj</p>
		</div>
		<script>
			function openRightMenu() {
			    document.getElementById("rightMenu").style.display = "block";
			}
			function closeRightMenu() {
			    document.getElementById("rightMenu").style.display = "none";
			}
		</script>
	</body>
</html>